In [1]:
# 2. Event matching: geo, time, airport name (save # of tweets to calculate confidence)

In [2]:
from enum import Enum
import pandas as pd
from math import sin, cos, sqrt, atan2, radians
EVENT_TYPE = Enum('EVENT_TYPE', 'TERRORIST_ATTACK LABOUR_STRIKE')

EVENT_TYPE.LABOUR_STRIKE

In [3]:
class Mention:
    datetime_happened = None
    datetime_reported = None
    longitude = None
    lattitude = None
    type = None
    # Please use standard system: SVO, SCO, TSE
    airport_id = None
    city_name = None
    country_name = None
    raw_description = None
    def __init__(self, type, airport_id, datetime_reported, datetime_happened=None, lattitude=None, longitude=None, city_name=None, country_name=None, raw_description=None):
        self.datetime_happened = datetime_happened
        self.datetime_reported = datetime_reported
        self.longitude = longitude
        self.lattitude = lattitude
        self.type = type
        self.airport_id = airport_id
        self.city_name = None if city_name is None else city_name.lower()
        self.country_name = None if country_name is None else country_name.lower()
        self.raw_description = None

In [4]:
class Event(Mention):
    mentions = []
    def __init__(self, m:Mention):
        super().__init__(m.type, m.airport_id, m.datetime_reported, m.datetime_happened, m.lattitude, m.longitude, m.city_name, m.country_name, None)
        self.mentions.append(m)
        
    def get_confidence():
        pass

In [5]:
airport_db = pd.read_csv('airports.csv')

In [6]:
airport_db.head()

,airport_full,city,country,iata,icao,latitude,longitude
0,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998
1,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001
2,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005
3,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977
4,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001

In [7]:
airport_db["city"] = airport_db["city"].str.lower()
airport_db["country"] = airport_db["country"].str.lower()

In [8]:
# How many cities have only one airport?
airport_names = {(str(a[1]['city']) + ' ' + str(a[1]['country'])):a[0] for a in airport_db.iterrows()}
airport_freq =  pd.DataFrame(list(airport_names.keys()), index=list(airport_names.values()))[0].value_counts()
one_airport_cities_i = [airport_names[a] for a in airport_freq.keys() if airport_freq[a] == 1]

In [37]:
airport_names

{'horovice czech republic': 1534,
 'cucuta colombia': 2576,
 'nazca peru': 4681,
 'bentonville united states': 4061,
 'mykonos greece': 1432,
 'abilene united states': 3502,
 'pecos united states': 6337,
 'khovd mongolia': 4977,
 'goetsenhoven belgium': 6300,
 'beni congo (kinshasa)': 6812,
 'escanaba united states': 5151,
 'brainerd united states': 5241,
 'warburton community australia': 6052,
 'wittmundhafen germany': 759,
 'aspen united states': 5268,
 'marfa united states': 6633,
 'reno united states': 3589,
 'aasiaat greenland': 3765,
 'scott city united states': 6736,
 'shapaja poland': 667,
 'pudasjarvi finland': 445,
 'maamigili maldives': 6291,
 'muir united states': 3577,
 'el-tor egypt': 1109,
 'gizo solomon islands': 4099,
 'perth united kingdom': 6203,
 'wyndham australia': 6110,
 'shark bay australia': 4930,
 'son-la vietnam': 5703,
 'lakeba island fiji': 4515,
 'chinchilla australia': 6354,
 'chapada dos guimaraes brazil': 6803,
 'nuernberg germany': 343,
 'neuchatel switzerland': 5222,
 'khon kaen thailand': 3712,
 'futaleufu chile': 2518,
 'forties alpha united kingdom': 6155,
 'ancenis france': 1269,
 'pekanbaru indonesia': 3074,
 'indian mountains united states': 3207,
 'xuzhou china': 3899,
 'marietta united states': 3451,
 'notsch im gailtal austria': 6172,
 'campina grande brazil': 2447,
 'westport new zealand': 1976,
 'lime acres south africa': 6933,
 'erzincan turkey': 1672,
 'baudette united states': 3447,
 'west hampton beach united states': 3375,
 'phucat vietnam': 4798,
 'fortaleza brazil': 2429,
 'langgur-kei islands indonesia': 4817,
 'passo fundo brazil': 2471,
 'ghriss algeria': 230,
 'lexington ky united states': 3782,
 'ubon ratchathani thailand': 3711,
 'meschede germany': 6700,
 'block island united states': 5948,
 'karluk united states': 5375,
 'mus turkey': 5134,
 'colville lake canada': 4146,
 'murrieta-temecula united states': 5729,
 'palmas brazil': 3953,
 'wick united kingdom': 525,
 'kailashahar india': 2890,
 'çorlu turkey': 5136,
 'brusselton australia': 6384,
 'utirik island marshall islands': 4475,
 'bosaso somalia': 4354,
 'totness suriname': 5474,
 'geraldton canada': 63,
 'ota portugal': 6688,
 'fairbanks united states': 3613,
 'la grande-4 canada': 6874,
 'ponce puerto rico': 2742,
 'dryden canada': 66,
 'tengah singapore': 3110,
 'eureka canada': 52,
 'alghero italy': 1477,
 'braga portugal': 1577,
 'dunk island australia': 5626,
 'principe sao tome and principe': 950,
 'santa ana de uairen venezuela': 2715,
 'sulaymaniyah iraq': 4592,
 'tiputini ecuador': 6249,
 'puerto maldonado peru': 2666,
 'ponca city united states': 3228,
 'pereira colombia': 2601,
 'ghadames libya': 1132,
 'yiwu china': 4998,
 'talang gudang-sumatra island indonesia': 4833,
 'rochefort france': 1265,
 'tidjikja mauritania': 1065,
 'flinders island australia': 4871,
 'pitalito colombia': 2602,
 'dubuque ia united states': 4089,
 'kakamega kenya': 1111,
 'garoua cameroon': 881,
 'price united states': 5637,
 'lukhovitsy russia': 7116,
 'barnstable united states': 3999,
 'nakhon phanom thailand': 3710,
 'aniwa vanuatu': 4556,
 'uige angola': 939,
 'guanambi brazil': 5519,
 'mount pleasant united states': 6496,
 'amboseli national park kenya': 4360,
 'calabar nigeria': 260,
 'innsbruck austria': 1568,
 'el aroui morocco': 4341,
 'albany australia': 4839,
 'skardu pakistan': 4589,
 'inishmaan ireland': 5559,
 'kohnan japan': 2187,
 'saravena colombia': 5486,
 'topel turkey': 1665,
 'halifax canada': 72,
 'kamloops canada': 6616,
 'digby canada': 6887,
 'seymchan russia': 6468,
 'connaught ireland': 593,
 'tambacounda senegal': 1063,
 'mytilini greece': 1433,
 'ibaraki japan': 2183,
 'college station united states': 3499,
 'gilgit pakistan': 2112,
 'gallivare sweden': 704,
 'gaya india': 2884,
 'prince albert canada': 100,
 'saint-petersburg russia': 6094,
 'st. athan united kingdom': 480,
 'keene united states': 6318,
 'kendall-tamiami united states': 3649,
 'seo de urgel spain': 1210,
 'americana brazil': 6411,
 'vesivehmaa finland': 436,
 'telluride united states': 3840,
 'tanegashima japan': 2207,
 'los mochis mexico': 1756,
 'sialkot pakistan': 5128,
 'raleigh-durham united states': 3411,
 'nantucket united states': 3305,
 'fort rucker/ozark united states': 6979,
 'les eplatures switzerland': 1620,
 'richmond heights united states': 3982,
 'wejh saudi arabia': 2023,
 'manaus brazil': 2458,
 'buechel germany': 765,
 'golouchestershire united kingdom': 468,
 'la ronge canada': 148,
 'zakynthos greece': 1451,
 'tanjore india': 2973,
 'goiania brazil': 2432,
 'la ferte alais france': 6487,
 'alert canada': 85,
 'nan saudi arabia': 7031,
 'shenzhen china': 3166,
 'entebbe uganda': 1157,
 'evanston united states': 6494,
 'tumaco colombia': 2579,
 'monbetsu japan': 2199,
 'bembridge united kingdom': 5743,
 'yechon south korea': 2275,
 'kompong chnang cambodia': 2871,
 'bordj el amri tunisia': 289,
 'boigu australia': 4850,
 'vasteras sweden': 721,
 'magdeburg germany': 328,
 'oakley united states': 6765,
 'southdowns zambia': 891,
 'verdun france': 5874,
 'paya lebar singapore': 3109,
 'san fernando de apure venezuela': 2718,
 'mount sterling united states': 6639,
 'trois rivieres canada': 6198,
 'hay river canada': 71,
 'la grande united states': 6767,
 'le luc france': 1312,
 'sumburgh united kingdom': 524,
 'nairobi kenya': 3819,
 'andros town bahamas': 1866,
 'laredo united states': 3476,
 'tabarka tunisia': 4028,
 'santiago de cuba cuba': 1844,
 'smiths falls canada': 6899,
 'quaqtaq canada': 4180,
 'spray view zimbabwe': 5184,
 'william creek australia': 6858,
 'del rio united states': 3574,
 'danville united states': 6564,
 'berlevag norway': 4055,
 'udaipur india': 2863,
 'tromso norway': 653,
 'huangshan china': 4991,
 'moree australia': 4904,
 'ko samui thailand': 2997,
 'thargomindah australia': 4933,
 'karup denmark': 604,
 'pembina united states': 3432,
 'vancouver canada': 4181,
 'rayak lebanon': 7037,
 'st thomas canada': 6896,
 'malatya turkey': 1650,
 'mattala sri lanka': 6336,
 'ridgely united states': 6734,
 'kirksville united states': 4410,
 'addis ababa ethiopia': 1083,
 'manapouri new zealand': 1951,
 'leeds united kingdom': 6594,
 'fitzgerald united states': 5868,
 'san angelo united states': 3492,
 'el fasher sudan': 1139,
 'columbia united states': 6642,
 'paz de ariporo colombia': 7070,
 'adak island united states': 4595,
 'rio hondo argentina': 6323,
 'nassau bahamas': 4502,
 'anoka united states': 6289,
 'le mans france': 1378,
 'siborong-borong indonesia': 6599,
 'elefsis greece': 1413,
 'barranquilla colombia': 2573,
 'locust grove united states': 6033,
 'broughton island canada': 150,
 'vadsø norway': 4038,
 'qayyarah iraq': 7043,
 'punta penasco mexico': 1775,
 'charlotte amalie virgin islands': 5457,
 'mansfield united states': 3983,
 'akhisar turkey': 1667,
 'batagay russia': 5487,
 'tokyo japan': 6670,
 'saluda united states': 6499,
 'tijuana mexico': 1789,
 'changhai china': 6352,
 'maewo island vanuatu': 4544,
 'fort st. james canada': 5440,
 'shaftesbury united kingdom': 6035,
 'gronholt denmark': 603,
 'linden guyana': 2726,
 'faro portugal': 1583,
 'lympne united kingdom': 5196,
 'nadzab papua new guinea': 3,
 'redencao brazil': 5974,
 'rantasalmi finland': 448,
 'hamburg germany': 358,
 'shaybah saudi arabia': 5871,
 'clemson united states': 6270,
 'dole france': 1273,
 'paris france': 1350,
 'singapore singapore': 7130,
 'la orchila venezuela': 2702,
 'coconut island australia': 4858,
 'lençóis brazil': 4651,
 'langeoog germany': 5252,
 'leon nicaragua': 1804,
 'khuzdar pakistan': 4586,
 'qasigiannguit greenland': 3764,
 'cornelia united states': 6274,
 'nome united states': 3400,
 'cali colombia': 2578,
 'graciosa island portugal': 1584,
 'pachuca mexico': 1774,
 'malmoe sweden': 697,
 'geneva switzerland': 1621,
 'oran algeria': 228,
 'davao philippines': 3846,
 'vila rica brazil': 6800,
 'chelyabinsk russia': 2811,
 'arauca colombia': 2614,
 'toluca mexico': 1792,
 'muara bungo indonesia': 6606,
 'artigas  uruguay': 6820,
 'batsfjord norway': 628,
 'son bonet spain': 1206,
 'oradea romania': 1612,
 'miquelon saint pierre and miquelon': 1404,
 'horsham australia': 6822,
 'richmond australia': 6613,
 'vercelli italy': 7015,
 'pastaza ecuador': 6250,
 'saskatoon canada': 164,
 'sinop turkey': 5135,
 'mangla pakistan': 2117,
 'mora sweden': 687,
 'milan italy': 1489,
 'new stuyahok united states': 5117,
 'villacoublay france': 1352,
 'sfax tunisia': 292,
 'punta gorda united states': 5301,
 'waikabubak-sumba island indonesia': 4809,
 'mersa-matruh egypt': 1105,
 'sulayel saudi arabia': 2017,
 'etain france': 1356,
 'moron argentina': 2325,
 'armari air force base estonia': 407,
 'lanyu taiwan': 2170,
 'asheville united states': 3772,
 'villahermosa mexico': 1795,
 'koulamoutou gabon': 4312,
 'ternate indonesia': 3055,
 'niau french polynesia': 5247,
 'montevideo uruguay': 2672,
 'labuhan bajo indonesia': 3695,
 'florence united states': 3659,
 'valencia venezuela': 2723,
 'mount hagen papua new guinea': 2,
 'syangboche nepal': 5726,
 'masamba indonesia': 3667,
 'enugu nigeria': 261,
 'tainan taiwan': 2172,
 'toccoa united states': 6034,
 'mianwali pakistan': 2119,
 'ciudad del carmen mexico': 1733,
 'gassim saudi arabia': 1997,
 'phuquoc vietnam': 3015,
 'noyabrsk russia': 4069,
 'juist germany': 3950,
 'nevsehir turkey': 3756,
 'moquegua peru': 2644,
 'lock haven united states': 6142,
 'ardmore united states': 3439,
 'dang nepal': 3922,
 'santa maria brazil': 4655,
 'bosschenhoofd netherlands': 5940,
 'mohe county china': 5230,
 'eskissehir turkey': 5132,
 'tivat montenegro': 1689,
 'bielsko-biala poland': 5060,
 'enghien-moisselles france': 4017,
 'gheshm i. iran': 2062,
 'tasikmalaya indonesia': 3672,
 'unalaska united states': 3640,
 'constanta romania': 1607,
 'mazuffarpur india': 2894,
 'polokwane south africa': 821,
 'waterkloof south africa': 853,
 'kemijarvi finland': 432,
 'blue river canada': 6879,
 'spadeadam united kingdom': 6918,
 'siargao philippines': 5251,
 'nannhausen germany': 5798,
 'bogota colombia': 2572,
 'kotido uganda': 6776,
 'odate noshiro japan': 4617,
 'lijiang china': 3797,
 'andersen united states': 3254,
 'chattanooga united states': 3363,
 'quanzhou china': 4990,
 'las vegas united states': 5191,
 'chandigarh india': 2921,
 'maradi niger': 276,
 'kirkwall united kingdom': 523,
 'berens river canada': 5283,
 'troyes france': 1354,
 'cayenne french guiana': 2635,
 'fort drum united states': 3341,
 'gulfport united states': 3800,
 'kunsan south korea': 4620,
 'nasiriyah iraq': 6687,
 'port-au-prince haiti': 1836,
 'vsar croatia': 6872,
 'rancho murieta united states': 3428,
 'villavicencio colombia': 2618,
 'kikala finland': 421,
 'norway house canada': 4198,
 'grand-santi french guiana': 5964,
 'garissa kenya': 6229,
 'ingolstadt germany': 769,
 'barrow island united kingdom': 511,
 'culdrose united kingdom': 479,
 'rockford united states': 3793,
 'castres france': 1250,
 'fitchburg united states': 6011,
 'kimberley south africa': 797,
 'kastoria greece': 1417,
 'winton australia': 4941,
 'el gorah egypt': 1103,
 'lubumashi congo (kinshasa)': 1015,
 'emam shahr iran': 2066,
 'windsor locks united states': 3606,
 'allentown united states': 4060,
 'mackenzie british columbia canada': 5841,
 'ahe french polynesia': 4530,
 'sale australia': 7170,
 "man cote d'ivoire": 254,
 'port said egypt': 1106,
 'oristano italy': 5730,
 'luxor egypt': 1104,
 'paraparaumu new zealand': 1959,
 'mykines faroe islands': 5938,
 'barrancabermeja colombia': 2581,
 'gabes tunisia': 288,
 'ballina byron bay australia': 4007,
 'reyes bolivia': 4674,
 'landshut germany': 5848,
 'smithfield united states': 3563,
 'hildesheim germany': 397,
 'aden yemen': 3748,
 'somerville united states': 6200,
 'blythe united states': 3887,
 'scone australia': 5155,
 'campo grande brazil': 2409,
 'lodz poland': 4272,
 'fort mcmurray canada': 89,
 'palm island australia': 4917,
 'chania greece': 1438,
 'lahr germany': 5803,
 'jeremie haiti': 4494,
 'palu indonesia': 3051,
 'île des pins new caledonia': 4562,
 'provincetown united states': 5040,
 'aktau kazakhstan': 4070,
 'parkersburg united states': 3870,
 'blantyre malawi': 990,
 'monastir tunisia': 283,
 'tamuin mexico': 1791,
 'fakarava french polynesia': 1909,
 'mocimboa da praia mozambique': 958,
 'el dorado united states': 3481,
 'brough united kingdom': 506,
 'arlington united states': 6778,
 'zhytomyr ukraine': 7097,
 'florence italy': 1521,
 'værøy norway': 4270,
 'kuqa china': 5010,
 'logroño-agoncillo spain': 4446,
 'monticello united states': 6968,
 'hodeidah yemen': 3747,
 'shindand afghanistan': 1984,
 'hualien taiwan': 2180,
 'sao felix do xingu brazil': 5975,
 'circle united states': 5417,
 'tirupeti india': 2974,
 'guanaja honduras': 1717,
 'ulundi south africa': 844,
 'rochester united kingdom': 6322,
 'siem-reap cambodia': 2873,
 'tura russia': 6089,
 'yeosu south korea': 2261,
 'changcha china': 3163,
 'popham united kingdom': 6530,
 'kongiganak united states': 5406,
 'beica ethiopia': 4345,
 'rottnest island australia': 6054,
 'mount gambier australia': 4907,
 'baton rouge united states': 3627,
 'greeley united states': 6763,
 'tlemcen algeria': 227,
 'moundou chad': 975,
 'chevak united states': 4604,
 'plaisance mauritius': 873,
 'coondewanna australia': 6684,
 'mazatlan mexico': 1768,
 'soroako indonesia': 3668,
 'nyala sudan': 4369,
 'nasik road india': 2856,
 'billings united states': 3786,
 'patos de minas brazil': 5971,
 'egilsstadir iceland': 11,
 'myitkyina burma': 3029,
 'scarborough trinidad and tobago': 2753,
 'las heras argentina': 4644,
 'lazard cardenas mexico': 1755,
 'punta cana dominican republic': 1705,
 'meade united states': 6751,
 'san juan puerto rico': 2743,
 'st.-denis reunion': 896,
 'faleolo samoa': 1901,
 'bardufoss norway': 631,
 'severomorsk russia': 7132,
 'unalakleet united states': 5331,
 'erechim brazil': 5047,
 'kavala greece': 1426,
 'hefei china': 3181,
 'jyvaskyla finland': 426,
 'pechora russia': 4073,
 'lins brazil': 2450,
 'haztor israel': 1555,
 'rumbek sudan': 5536,
 'homestead united states': 3580,
 'sola vanuatu': 4535,
 'burnie australia': 4942,
 'manston united kingdom': 505,
 'nagpur india': 2855,
 'siegerland germany': 357,
 'lamerd iran': 2072,
 'santa isabel do rio negro brazil': 5991,
 'golovin united states': 5385,
 'waddington united kingdom': 568,
 'leigh creek australia': 6051,
 'beaumont united states': 6427,
 'deesa india': 2845,
 'split croatia': 1175,
 'cincinnati united states': 3466,
 'lasham united kingdom': 491,
 'belize city belize': 1891,
 'vladivostok russia': 2780,
 'neuburg germany': 771,
 'le castellet france': 1321,
 'chelkar kazakhstan': 7080,
 'newtownards united kingdom': 6691,
 'caicara de orinoco venezuela': 2682,
 'francisco beltrao brazil': 5983,
 'alpha australia': 7137,
 'gulkana united states': 3618,
 'charlo canada': 35,
 'canefield dominica': 2730,
 'tresco united kingdom': 5582,
 'esperance australia': 4870,
 'assumption island seychelles': 5596,
 'du bois united states': 4400,
 'herat afghanistan': 1978,
 'parsabad iran': 5103,
 'olympic dam australia': 4915,
 'sydney canada': 124,
 'lexington united states': 6741,
 'mzuzu malawi': 994,
 'aubenas-vals-lanas france': 1276,
 'pangnirtung canada': 168,
 'aix-les-milles france': 1311,
 'somerset united states': 5305,
 'kaedi mauritania': 1068,
 'theodore australia': 6295,
 'joinville brazil': 2446,
 'hooper bay united states': 5072,
 'mahe seychelles': 971,
 'futuna island wallis and futuna': 4527,
 'gary united states': 5240,
 'pailton united kingdom': 470,
 'saarbruecken germany': 345,
 'amos canada': 6883,
 'san andres island colombia': 2611,
 'nzagi angola': 5521,
 'la pedrera colombia': 4667,
 'wildwood united states': 3523,
 'jiayuguan china': 5032,
 'independence united states': 6755,
 'chapacura bolivia': 2621,
 'livingstone zambia': 886,
 'enumclaw united states': 6466,
 'el golea algeria': 233,
 "île d'yeu france": 4447,
 'rtishchevo russia': 7136,
 'segovia spain': 6211,
 'riberalta bolivia': 4673,
 'farafangana madagascar': 919,
 'vilyuisk russia': 7082,
 'billund denmark': 600,
 'pirlangimpi australia': 6725,
 'pau france': 1239,
 'san borja bolivia': 4675,
 'clearwater united states': 6154,
 'tambohorano madagascar': 4298,
 'port bergé madagascar': 4301,
 'cheraw united states': 6567,
 'sehwan sharif pakistan': 4590,
 'floriano brazil': 6810,
 'marysville united states': 6873,
 'dimapur india': 4780,
 'lagoa santa brazil': 2453,
 'summerside canada': 136,
 'washington county united states': 5947,
 'chañaral chile': 7063,
 'esfahan iran': 2047,
 'shepparton australia': 6359,
 'moose jaw canada': 88,
 'east london south africa': 783,
 'menkijarvi finland': 439,
 'gjadër albania': 6999,
 'krasnovodsk turkmenistan': 2818,
 'porto heli greece': 5197,
 'rafsanjan iran': 4569,
 'mcgrath united states': 4601,
 'matsushima japan': 2248,
 'noatak united states': 5080,
 'erbil iraq': 3758,
 'havre united states': 3389,
 'bellary india': 2957,
 'stinson united states': 6629,
 'benin nigeria': 259,
 'chateaudun france': 1332,
 'sukkur pakistan': 2134,
 'andizhan uzbekistan': 4754,
 'pikwitonei canada': 6910,
 'le puy france': 1277,
 'fukue japan': 2205,
 'chiang rai thailand': 3707,
 'mopti mali': 1024,
 'tsushima japan': 2198,
 'uetersen germany': 5067,
 'sembawang singapore': 3108,
 'belgorod russia': 4762,
 'san juan bautista chile': 6290,
 'anqing china': 5028,
 'st.-yan france': 1301,
 'gore bay canada': 193,
 'autun france': 1357,
 'walla walla united states': 4385,
 'loei thailand': 3006,
 'giebelstadt germany': 737,
 'vicenza italy': 1507,
 'perito moreno argentina': 2373,
 'liepaja latvia': 3725,
 'gustavus united states': 4596,
 'wenatchee united states': 5212,
 'dongloe ireland': 4257,
 'salvador brazil': 2487,
 'trabzon turkey': 1674,
 'paros greece': 3938,
 'liberia costa rica': 1821,
 'libourne france': 1262,
 'cornwall canada': 5939,
 'agen france': 1227,
 'benson united kingdom': 549,
 'collingwood canada': 6066,
 'old crow canada': 96,
 'rybinsk russia': 4761,
 'mary esther united states': 3295,
 'niederstetten germany': 744,
 'pratt united states': 6738,
 'itaipu paraguay': 2565,
 'navoi uzbekistan': 5053,
 'uralsk kazakhstan': 2766,
 'macaé brazil': 4652,
 'weelde belgium': 312,
 'stade germany': 6726,
 'uluru australia': 3775,
 'guerrero negro mexico': 4481,
 'changzhou china': 3865,
 'latrobe united states': 4413,
 'merida mexico': 1761,
 'charleville france': 1365,
 'laeso denmark': 605,
 'maastricht netherlands': 576,
 'taji iraq': 7046,
 'longview united states': 6329,
 'kindu congo (kinshasa)': 1014,
 'ponta delgada portugal': 1590,
 'okondja gabon': 942,
 'mangochi malawi': 6937,
 'minneapolis united states': 3638,
 'chimbote peru': 2642,
 'granville france': 1371,
 'mokuti lodge namibia': 5877,
 'caballococha peru': 4678,
 'chaghcharan afghanistan': 5585,
 'lop buri thailand': 2981,
 'bukoba tanzania': 4371,
 'kengtung burma': 3023,
 'saranac lake united states': 4436,
 'sharm el sheikh egypt': 3817,
 'south lake tahoe united states': 3988,
 'mianyang china': 5004,
 'strausberg germany': 323,
 'auki solomon islands': 4092,
 'inverell australia': 6387,
 'kluang malaysia': 3091,
 'acandi colombia': 5485,
 'gelnhausen germany': 6863,
 'shangri-la china': 4979,
 'brazzaville congo (brazzaville)': 863,
 'karpathos greece': 1423,
 'tarbes france': 1241,
 'resende brazil': 6791,
 'point cook australia': 3135,
 'belo horizonte brazil': 2408,
 'alderney guernsey': 492,
 'winston-salem united states': 3338,
 'bad neuenahr germany': 5912,
 'villa garzon colombia': 5488,
 'masai mara kenya': 5534,
 'qeqertarsuaq airport greenland': 4128,
 'allendorf germany': 353,
 'hong kong hong kong': 4090,
 'kecskemet hungary': 1454,
 'fajardo puerto rico': 2739,
 'puerto ayacucho venezuela': 2708,
 'jambi indonesia': 3085,
 'brawdy united kingdom': 6351,
 'buenos aires argentina': 3757,
 'puerto escondido mexico': 1779,
 'sleetmute united states': 5418,

In [10]:
# How many unique cities?
airport_city_freq =  airport_db['city'].value_counts()
city_one_airport_names = [a for a in airport_city_freq.keys() if airport_city_freq[a] == 1]

In [11]:
def geo_to_airport(lat, lon):
    distance_epsilon = 10 # km
    lat = radians(lat)
    lon = radians(lon)
    for airport in airport_db.iterrows():
        airport = airport[1]
        lat2 = radians(airport['latitude'])
        lon2 = radians(airport['longitude'])
        dlon = lon2 - lon
        dlat = lat2 - lat
        a = sin(dlat / 2)**2 + cos(lat) * cos(lat2) * sin(dlon / 2)**2
        c = 2 * atan2(sqrt(a), sqrt(1 - a))
        # Approximate earth radius is 6373.0
        distance = 6373.0 * c
        if distance < distance_epsilon:
            return airport.iata
    return None

In [12]:
def fill_missing_data(mention:Mention):
    if mention.datetime_happened is None:
        mention.datetime_happened = mention.datetime_reported
    if mention.airport_id is None:
        if mention.lattitude is not None and mention.longitude is not None:
            #Reverse geocodes
            mention.airport_id = geo_to_airport(mention.lattitude, mention.longitude)
        if mention.airport_id is None and mention.city_name is not None and mention.country_name is not None:
            if airport_names[mention.city_name + ' ' + mention.country_name] in one_airport_cities_i:
                # One airport in the city
                mention.airport_id = airport_db.loc[airport_names[mention.city_name + ' ' + mention.country_name]].iata
        
        if mention.airport_id is None and mention.city_name is not None and mention.city_name in city_one_airport_names:
            mention.airport_id = airport_db.loc[airport_db[airport_db['city'] == mention.city_name].index[0]].iata
            print(mention.airport_id)
    return mention

In [13]:
class Flights:
    events = []
    def add_event(self, mention:Mention):
        if mention.longitude is None and mention.lattitude is None and mention.airport_id is None and mention.city_name is None and mention.country_name is None:
            print("Not enough data in Mention! Not considering this.")
            return
        
        mention = fill_missing_data(mention)
        if len(self.events) == 0:
            print("Adding a new event_")
            self.events.append(Event(mention))
            return
        
        # Merge with some event
        TIME_EPSILON_SECONDS = 24*60*60
        
        similar_events = list(filter(
            lambda e: e.type == mention.type and
                (((e.airport_id is not None and 
                   mention.airport_id is not None and 
                   e.airport_id == mention.airport_id) or 
                (e.city_name is not None and 
                 mention.city_name is not None and
                 e.country_name is not None and mention.country_name is not None and
                 e.city_name == mention.city_name and e.country_name == mention.country_name)) and 
                abs(e.datetime_happened - mention.datetime_happened) < TIME_EPSILON_SECONDS), self.events))
        print("Found %d similar events" % len(similar_events))
        
        if len(similar_events) == 0:
            print("Adding a new event")
            self.events.append(Event(mention))
            return
        if len(similar_events) == 1:
            print("Merging with one similar event")
            similar_events[0].mentions.append(mention)
            return
        
        # weight similar events
        weights = [0 for _ in range(len(similar_events))]
        for i in range(len(similar_events)):
            e = similar_events[i]
            w = 0
            if e.airport_id == mention.airport_id:
                w += 1
            if e.city_name == mention.city_name and e.country_name == mention.country_name:
                w += 0.5
            
            w += 1/(10*abs(e.datetime_happened - mention.datetime_happened))
            weights[i] = w
        max_w = max(weights)
        indexes = [i for i, x in enumerate(weights) if x == max_w]
        if len(indexes) > 1:
            print("Warning, there are %d similar events for merging, selecting the first one" % len(indexes))
        
        similar_events[indexes[0]].mentions.append(mention)
        similar_events[indexes[0]].datetime_happened = sum([m.datetime_happened for m in similar_events[indexes[0]].mentions]) / float(len(l))
        print("Merged")

In [14]:
def test():
    f = Flights()
    mentions = [
                # This event is added as an initial one
                Mention(EVENT_TYPE.TERRORIST_ATTACK, 'SCO', 1511616649+23*60+60),
                # Another event that is not merged
                Mention(EVENT_TYPE.TERRORIST_ATTACK, 'TSE', 1511616609+5*60),
                # Time shift is OK, but type is different
                Mention(EVENT_TYPE.LABOUR_STRIKE, 'SCO', 1511616669+5*60),
                # No airport id provided
                Mention(EVENT_TYPE.TERRORIST_ATTACK, None, 1511616669 , None, 43.856578, 51.086457),
                # Too late tweet, no merge
                Mention(EVENT_TYPE.TERRORIST_ATTACK, 'SCO', 1511919749+23*60+60),
                # No geo, but city and contry are specified
                Mention(EVENT_TYPE.TERRORIST_ATTACK, None, 1511919749+23*60+60, city_name='Aktau', country_name='Kazakhstan'),
                # Only city provided!
                Mention(EVENT_TYPE.TERRORIST_ATTACK, None, 1511919749+23*60+60, city_name='Aktau'),]
    for m in mentions:
        print("=======")
        f.add_event(m)
        print("Total events:", len(f.events))
test()

=======
Adding a new event_
Total events: 1
=======
Found 0 similar events
Adding a new event
Total events: 2
=======
Found 0 similar events
Adding a new event
Total events: 3
=======
Found 1 similar events
Merging with one similar event
Total events: 3
=======
Found 0 similar events
Adding a new event
Total events: 4
=======
Found 1 similar events
Merging with one similar event
Total events: 4
=======
SCO
Found 1 similar events
Merging with one similar event
Total events: 4

In [ ]:
geo_to_airport(60.2979109, 25.0196232)